:root {
    --color-primary-white: #ffffff;
    --color-primary-light: #2b7fff;
    --color-primary-dark: #011c44;
    --color-secondary-dark: #4a4a4a;
    --color-secondary-grey: #7a7272;
    --color-secondary-blue: #011f4a;
    --color-secondary-light: #ffd02b;
    --color-secondary-light-2: #747272;
    --font-family: "Roboto", sans-serif;
    --second-family: "Play", sans-serif;
        }
 

/*Base Styles*/
body {
    background-color: var(--color-primary-white);
        color: var(--color-primary-dark);
        font-family: var(--font-family);
        sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 1.5;
}
/*Button*/
.button {
    background-color: var(--color-primary-light);
    font-weight: 600;
    font-size: 18px;
    color: var(--color-primary-white);
    border: 16px solid var(--color-primary-light);
    border-radius: 32px;
     width: 219px;
    height: 53px;    
    cursor: pointer;
    }
      
 /*Link*/
 .link {
     color: var(--color-primary-light);
    font-family: var(--font-family);
     font-size: 18px;
     font-weight: 700;
 }
 .link-second {
     color: var(--color-primary-dark);
    font-family: var(--font-family);
     font-size: 18px;
     font-weight: 400;
 }
.link-footer {
    color: var(--color-primary-white);
   font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}
 /*Formats section*/
.format-title 
{
    font-size: 24px;
    font-weight: 600;
}
.format-text-1 
{font-size: 18px;
font-weight: 400;
line-height: 133%;
}
 .format-text-2 
{font-size: 12px;
font-weight: 400;
line-height: 150%;
}  
.format-text-3 
{font-size: 22px;
font-weight: 400;
line-height: 173%;
}
/*Section Titles*/
.hero-title {
    color: var(--color-primary-light);
   font-family: var(--second-family);
    font-size: 140px;
    font-weight: 700;
    line-height: 81%;
}
.section-title {
    color: var(--color-primary-dark);
   font-family: var(--second-family);
    font-size: 64px;
    font-weight: 700;
}
.section-title .accent {
    color: var(--color-primary-light);
}
/*Product Title*/
.product-title {
    color: var(--color-primary-white);
        font-family: var(--font-family);
        font-size: 22px;
        font-weight: 400;
}
/*Footer*/
.adres-link {
    color: var(--color-primary-white);
        font-family: var(--font-family);
        font-size: 16px;
        font-weight: 400;
    text-decoration: none;
}

.adres-link:hover {
    color: var(--color-secondary-light-2);
}